.home-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: var(--accent-color);
}

.home-layout .title {
  margin: 12% 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.dashboard-container .link {
  margin-bottom: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    grid-template-columns: auto;
  }
}