.alert-container {
  position: absolute;
  top: 5rem;
  width: 100%;
}

.alert {
  position: relative;
  max-width: 400px; 
  text-align: center;
  padding: 0.8rem;
  opacity: 0.8;
  z-index: 10;
  border-radius: 3px;
  margin: 0 auto;
}


.alert-timer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: alert 7s ease;
  border-radius: 3px;
}

.alert-message {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
}

@keyframes alert {
  from {
    width: 100%;
  }

  to {
    width: 0%
  }
}
