.search-bar-container {
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.search-bar-icon {
  position: absolute;
  width: 24px;
  top: 0.5em;
  left: 0.5em;
  fill: var(--accent-color);
}

.search-bar-icon :hover {
  cursor: pointer;
}

.search-bar-container .search-bar-text-field {
  background: none;
  border: none;
  border-bottom: solid 2px var(--accent-color);
  color: var(--accent-color);
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.5em 0.5em 0.5em 2.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  line-height: normal;
  width: 100%;
}

.search-bar-text-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--accent-color);
  opacity: 1; /* Firefox */
}

.search-bar-text-field:focus{
  outline: none;
}